#filterrific_results
  %table.table.table-striped.table-bordered.table-hover.table-responsive
    %tr
      %th Branch
      %th Full version
      %th Platform
      %th Artefact
      %th Revision
      %th Started at
      %th Duration
      %th Comment
      %th More info
      
    - build_jobs.each do |b|
      %tr{:class => build_job_tr_class(b), :id => "build_job_id_" + b.id.to_s }
        %td
          - if new_commits? b
            %span{class: "glyphicon glyphicon-asterisk"}
          /- else
          /  %span{class: "glyphicon glyphicon-ok"}
          %span= b.branch.name 
          %br
          %span= test_results(b)
        %td= b.full_version.title unless b.full_version.nil? 
        %td= b.target_platform.title
        %td= artefacts_links(b)
        %td= revision_text(b)
        %td= localtime(b.started_at) unless b.started_at.nil? 
        %td= calculate_duration(b)
        %td= truncate b.comment, :length => 25, :separator => ' '
        %td= link_to content_tag(:span, "", :class => "glyphicon glyphicon glyphicon-list"), enviroment_build_job_path(enviroment_title: enviroment.title, id: b.id), :class => "btn btn-default"
    
  .text-center= will_paginate(build_jobs, :renderer => BootstrapPagination::Rails, :previous_label => "&larr; ", :next_label => " &rarr;")